.heading-text{
  font-size: 3vw;
}
.dashboard-icon{
  font-size: 25px;
  float: right;
  margin-left: 20px;
}
.text-black{
  color: black;
}
body{
  color: white;
}
#addnewsource{
    cursor: pointer;
  }
.hidden{
  display: none;
}
.cursor-pointer{
  cursor: pointer;
}
