.Piechartt{
  border-radius: 14%;
}
u.heading-text{
  font-weight: 700;
}
.selectt > div > div:nth-child(2) > div{
  padding: 0px;
}
.selectt{
  border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: none;
  font-size: 12px;
}
.heading-grid{
  font-weight: 600;
}
.bg-grid{
  background: #3ed1d5;
}
.d-block:hover{
  opacity: 0.6 ;
}
.close{
  position: relative;
  cursor: pointer;
  left: -4px;
  margin-top: -6px;
}
#barChart {
  width: 90% !important;
}
a:hover{
  text-decoration: none;
  display: inline-block;
}
a{
  text-decoration: none;
  
}
.suggestions-modal{
  background-color: rgb(245 37 37 / 80%);
  z-index: 2;
  position: fixed;
  width: 27%;
}
.suggestion-item{
  font-size: 13px;
  padding: 2px;
  color: white;
  margin-left: 9px;
}
.show_month{
  position: relative;
  top: 2px;
    left: 35%;
    font-weight: 500;
}
.settings .row{
  padding-bottom: 3px;
}
.delete{
  margin-top: 3px !important;
  margin: 0px;
}
.mt-9{
  margin-top: 9px !important;
}
.mt-6{
  margin-top: 6px !important;
}
canvas{
  box-sizing: border-box;
  display: block;
  height: 260px !important;
  width: 311px !important;
}
.heading-input{
  height: 82%;
  position: relative;
  width: 92%;
  left: 3%;
}
.heading-input[text]{
  font-size: 1vw;
}
.mt-2{
  margin-top: 2px! important;
}
.w-15{
  width: 15%;
}
.w-36{
  width: 36%;
}
.w-12{
  width: 12%;
}
.w-19{
  width: 19%;
}
.w-28{
  width: 28%;
}
.w-23{
  width: 23%;
}
.w-11{
  width: 11%;
}
.heading-text{
  font-size: 3vw;
}
.dashboard-icon{
  text-decoration: none;
  font-size: 28px;
  float: right;
  margin-left: 20px;
}
.dashboard-icon:hover{
  text-decoration: none;
}
.text-black{
  color: black;
}
.text-white{
  color: white !important;
}
body{
  color: white;
}
#addnewsource{
    cursor: pointer;
  }
.hidden{
  display: none;
}
.cursor-pointer{
  cursor: pointer;
}
